body{
    background-color: azure;
}
#page h1 {
    text-align: center;
    background-color: black;
    color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative; 
    transition: transform 0.3s ease-in-out;
    font-family: 'Cursive';
}

#resultados{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    gap: 15px; 
}

.section {
    display: flex;
    flex-direction: column-reverse;  
    background-color: #550f5d4b;
    width:  30%; 
    min-width: 280px; 
    border-radius: 15px; 
    padding: 50px;
    margin: 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}


.section:hover {
    transform: scale(1.05);
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);
}
.section p {
    background: linear-gradient(135deg, #ae66e2, #ae66e2); 
    color: #333333; 
    padding: 12px;
    border-radius: 8px; 
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease, background 0.3s ease;
}


.section p:hover {
    background: linear-gradient(135deg, #64b3f4, #4682b4); 
    transform: scale(1.03);
}

p {
    word-wrap: break-word; /* Ensures long words break and wrap */
}
  

@keyframes slideInDownCustom {
    from {
        transform: translateY(-20px); 
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


#page h1 {
    animation: slideInDownCustom 0.8s ease-in-out;
}


#page h1:hover {
    transform: translateY(10px); 
}

#page{
    
    margin: 0 auto;
    margin-top: 100px;
    width: 75%;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}


input{
   
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.5);
    font-family: 'Times New Roman', Times, serif;
    
}
input:hover {
  
    box-shadow: 0.1rem 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-10px); 
}
    

button{
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.5);
    font-family:  'Times New Roman', Times, serif;
}

button:hover {
    transition: transform 0.3s ease-in-out;
    transform: translateY(-5px); 
    box-shadow: 0.1rem 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#header{
    width: 100%;
    background-color: rgb(144, 95, 196);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
}

.titulo{
    margin-left: 20px;
}