<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de tareas</title>
</head>
<body>
    <button id="ver-tareas">Ir al sitio de ver tareas</button>
    <button id="crear-tarea">Ir al sitio de crear tareas</button>
    <script>
        document.getElementById("ver-tareas").addEventListener("click", function () {
            window.location.href = "ver-tareas.html";
        });
        document.getElementById("crear-tarea").addEventListener("click", function () {
            window.location.href = "crear-tarea.html";
        });
    </script>
</body>
</html>